$introColor: hsl(217, 28%, 15%);
$mainBackground: hsl(218, 28%, 13%);
$footerBackground: hsl(216, 53%, 9%);
$testimonialsBackground: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightRed: hsl(0, 100%, 63%);
$green: hsl(134, 61%, 41%);
$lightGrey: hsl(0, 0%, 93%);
$white: hsl(0, 0%, 100%);
